<!-- Container -->
 <section class="trips">
 <div class="row">
        <div class="cart-wrapper">
            <div class="cart-frame">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-hover cart-table" >
                            <thead>
                                <tr>
                                    <th>From:</th>
                                    <th>To:</th>
                                    <th>Date:</th>
                                    <th>Seats:</th>
                                    <th>Price ($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ctrl.items">
                                    <td>{{item.from}}</td>
                                    <td>{{item.to}}</td>
                                    <td>{{item.date | date: 'mediumDate'}}</td>
                                    <td>{{item.seatsbought}}</td>
                                    <td>{{item.price | currency}}</td>
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /Row -->
    
            <div class="row m-top30">
                    <div class="col-md-8 cost-calc">
                        <div class="col-sm-3 subtotal-cost">
                            <p><strong>Subtotal:</strong> {{ctrl.subtotal | currency}}</p>
                        </div>
                        <div class="col-md-3 taxes-cost">
                            <p><strong>Taxes:</strong> {{ctrl.taxes | currency}}</p>
                        </div>
                        
                        <div class="col-md-3 total-cost" class="cart-total">
                            <p><strong>Total:</strong> {{ctrl.total | currency}}</p>
                        
                        </div>

                        <a href="#/" class="btn btn-primary btn-continue" ng-click="ctrl.removeItem($index)">Cancel Booking</a>
                        <!-- <a href="#/login" class="btn btn-primary btn-continue">Login</a> -->
                       
     <!--                <div class="col-sm-4 pull-right">
                    <div class="container">

    <div class="checkout-wrapper">
        <div class="checkout-price">
                    
        </div>
        <div class="row">
    
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Use your account:</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                <div class="col-md-4">
                <form ng-submit="loginUser()">
                    

                    <div class="form-group">
                                <label>Email:</label>
                                <input type="text" class="form-control" placeholder="enter email" ng-model="user.email" required>
                                </div>

                                <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" placeholder="enter password" ng-model="user.password" requiered>
                                </div>
                    
                                <button type="submit" class="btn btn-default">Login</button>
                    </div>
                </form>
            </div>
            </div>
        </div> -->
                       
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /Cart Wrapper -->
    </div>
    <!-- /Row -->
</div>
</section>



<section class="trips">
           <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Pay as Guest</h3>
                  </div>
              <div class="panel-body">
                <div class="row">
                <div class="col-md-12">
                <form>
                  <div class="form-group">
                    <label>Firstname:</label>
                    <input type="text" class="form-control" placeholder="enter firstname" ng-model="ctrl.order.firstname" >

                  </div>

                  <div class="form-group">
                    <label>Lastname:</label>
                    <input type="text" class="form-control" placeholder="enter lastname" ng-model="ctrl.order.lastname" >
                  </div>

                  <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" placeholder="enter email" ng-model="ctrl.order.email" >
                  </div>

                  <div class="form-group">
                    <label>Phone number:</label>
                    <input type="text" class="form-control" placeholder="enter password" ng-model="ctrl.order.phone">
                  </div>

                  <div class="form-group">
                    <label>Country:</label>
                    <select class="form-control" placeholder="select country of residence" ng-model="ctrl.order.country">
                      <option value="" selected disabled>Please select country:</option>
                      <option value="The Netherlands" selected>The Netherlands</option>
                      <option value="Poland">Poland</option>
                      
                    </select>
                  </div>
                  
                 

                  <a type="submit" class="btn btn-default" ng-click="ctrl.addOrder()">Confirm order</a>
                </form>
                </div>
                </div>
              </div>
            </div>

            </div>

</div>
</section>
