<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/sample1.jpg" alt="First slide">          
        </div>
        <div class="item">
          <img src="img/sample2.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img src="img/sample3.jpg" alt="Third slide">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div> -->

    <div class="search">
        <div class="container">
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                       
                       <div class="col-md-3">
                        <div class="form-group">
                          <label class="searchlabel" for="guest">Origin</label>
                          <select id="guest" name="guest" class="form-control" ng-model="origin">
                              <option value="" selected disabled>Choose your origin</option>
                              <option value="">Any</option>
                              <option value="Amsterdam">Amsterdam</option>
                              <option value="Warschau">Warschau</option>
                              <option value="Berlin">Berlin</option>
                              </select>
                              </div>
                              </div>

                        <div class="col-md-3">
                        <div class="form-group">
                          <label class="searchlabel" for="guest">Destination</label>
                          <select id="guest" name="guest" class="form-control" ng-model="destination" >
                              <option value=""selected disabled>Choose your destination</option>
                              <option value="">Any</option>
                              <option value="Amsterdam">Amsterdam</option>
                              <option value="Warschau">Warschau</option>
                              <option value="Barcelona">Barcelona</option>
                              </select>
                              </div>
                              </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="searchlabel" for="checkout">Departure Date</label>
                          <div class="input-group">
                            <input type="date" class="form-control" id="checkout" placeholder="date" ng-model="ctrl.date" ng-change="dateChange(ctrl.date)">
                            
                            

                            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> -->

                            <!-- ng-change="function"

                            changes ctrl.date to ctrl.formatted_date

                            filter against that -->
                            
                          </div>
                        </div>
                      </div>
                      
                      <!-- <div class="col-md-2">
                        <div class="form-group">
                          <label class="searchlabel" for="guest">Seats</label>
                          <select id="guest" name="guest" class="form-control" ng-model="ctrl.seats">
                              <option value="1">1 Seats</option>
                              <option value="2">2 Seats</option>
                              <option value="3">3 Seats</option>
                             
                          </select>
                        </div>
                      </div> -->
                      

                      <button type="submit" id="searchbutton" class="btn btn-default btn-primary" ng-click="clearFilter()">Show All</button>
                     
                    
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




<section class="trips">
<div class="panel panel-default" ng-repeat="trip in cur_trips | orderBy:orderByDate| filter:{from: origin, to:destination, date:newdate}" >
  <div class="panel-heading" >
  <h3><strong>{{trip.from}} - {{trip.to}}</strong></h3>
  </div>
  <div class="panel-body" >
         	<div class="row">
              <div class="col-md-6">

      		            
          </div>  
          </div>
          <div class="row">
              <div class="col-md-3 pull-left">
              <p><strong>Date:       </strong>{{trip.date | date:'longDate'}}</p>
              <p><strong>Time:       </strong>{{trip.time}}</p>
                <p><strong>Price:      </strong>{{trip.price | currency}}</p>

          </div>
              <div class"row">
      			   <div class="col-md-3">
      					<p><strong>Seats left: </strong> {{trip.seats}}</p>
              </div>
              <div class="col-md-3">
      					
      						<label class="seatslabel" ><strong>Seats:</strong></label>
                          
                                <select class="btn btn-default dropdown-toggle" class="form-control" ng-model="ctrl.seatselect" >
                                    <option  ng-repeat="i in trip.seats | seatsFilter" >{{i}}</option>
                                    </select>
                                    <a href="#/checkout" class="btn btn-primary pull-right" ng-click="booking(trip, ctrl.seatselect)">Book</a>
      					           
              </div>
             
              </div>
              </div>


      					</div>
      					</div>
      					
      				

      			</div>
         	</div>
  </div>
</div>
</section>




 