<div id="wrapper">
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#/admin">
                        Backend Busportal
                    </a>
                </li>
                <li>
                    <a href="#/admin/orders">Orders</a>
                </li>
                <li>
                    <a href="#/admin/add">Add Trip</a>
                </li>
                <li>
                    <a href="#/admin/trips">Trips</a>
                </li>           
                <li>
                    <a href="#/admin/users">Users</a>
                </li>
                <li>
                    <a href="#/admin/financials">Finance</a>
                </li>
            </ul>
        </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Trip</h3>
  </div>
  <div class="panel-body">
   	<div class="row">
		<div class="col-md-12">
		<form ng-submit="updateTrip()" ng-init="getTrip()" ng-init"removeTrip()">
		  <div class="form-group">
		    <label>Origin:</label>
		    <select class="form-control" placeholder="enter origin" ng-model="trip.from" >
		    	<option value="" selected disabled>Please select city</option>
		    	<option value="Amsterdam" selected>Amsterdam</option>
		    	<option value="Warschau">Warschau</option>
		    	<option value="Berlin">Berlin</option>
		  	</select>
			<!-- Check how it works!-->
		  <div class="form-group">
		    <label>Destination:</label>
		    <select class="form-control" placeholder="enter destination" ng-model="trip.to" >
		    	<option value="" selected disabled>Please select city</option>
		    	<option value="Amsterdam" selected>Amsterdam</option>
		    	<option value="Warschau">Warschau</option>
		    	<option value="Barcelona">Barcelona</option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label>Price</label>
		    <input type="number" class="form-control" placeholder="enter price in €" ng-model="trip.price">
		  </div>
		  <div class="form-group">
		    <label>Date</label>
		    <input type="date" class="form-control" placeholder="enter departure date" ng-model="date">
		  </div>
		  <label>Time</label>
		    <input type="text" class="form-control" placeholder="enter departure time" ng-model="trip.time">
		  </div>
		  <div class="form-group">
		    <label>Numbers of seats</label>
		    <input type="number" class="form-control" placeholder="enter number of pages" ng-model="trip.seats">
		  </div>

		 <a href="#/admin/trips" type="submit" class="btn btn-default">Back</a>
		 <button type="submit" class="btn btn-default" href="#/admin/trips">Update</button>
		 <a class="btn btn-delete" ng-click="removeTrip(trip._id)" href="#/admin/trips">Delete</a>
		 
		</form>
		</div>
   	</div>
  </div>
</div>