<div id="wrapper">
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#/admin">
                        Back-Office Busportal
                    </a>
                </li>
                <li>
                    <a href="#/admin/orders">Orders</a>
                </li>
                <li>
                    <a href="#/admin/trips/add">Add Trip</a>
                </li>
                <li>
                    <a href="#/admin/trips">Trips</a>
                </li>           
                <li>
                    <a href="#/admin/users">Users</a>
                </li>
                <li>
                    <a href="#/admin/financials">Finance</a>
                </li>
            </ul>
        </div>

<div class="panel panel-default" id="formpanel">
  <div class="panel-heading">
    <h3 class="panel-title">orders</h3>
  </div>
  <div class="panel-body">
       <div class="form-group">
              <label>Search:</label>
              <input type="text" class="form-control" placeholder="enter searchterm" ng-model="users.search">
            </div>
  </div>
  </div>




<section class="trips" ng-init="getOrders()">
<div class="panel panel-default" ng-repeat="order in orders">
  <div class="panel-heading" >
  </div>
  <div class="panel-body" >

            <div class="col-md-10">
                <div class="col-md-10">
                    <h3>{{order.firstname}} {{order.lastname}}</h3>
                    <p><strong>Email:       </strong>{{order.email}}</p>
                    <p><strong>Phone:       </strong>{{order.phone}}</p>
                    <p><strong>Country: </strong> {{order.country}}</p>
                    
                    <h3>Order:</h3>
                    <h3>{{order.order.from}} - {{order.order.to}}</h3>
                    <p><strong>Date:       </strong>{{order.order.date}}</p>
                    <p><strong>Time:       </strong>{{order.order.time}}</p>
                    <p><strong>Price:      </strong>{{order.order.price}}</p>
                    <p><strong>Seats bought: </strong> {{order.order.seatsbought}}</p>

                    </br>
                    
                    <a href="#/admin/orders/edit/{{order._id}}">Edit</a> 
                    <a class="btn btn-delete" ng-click="removeOrder(order._id)">Delete</a>

                    <hr>
                </div>

            </div>
    </div>
</section>
</div>
